<table class="table table-hover">
  <tr>
    <th>Data</th>
    <th style="text-align: center">Nome</th>
    <th style="text-align: center">Jogadores</th>
    <th style="text-align: center">Vencedor</th>
    <th></th>
  </tr>
  <% @group.games.each do |game| %>
    <tr>
      <td align="center"><%= game.date %></td>
      <td align="center"><%= game.title %></td>
      <td align="center"><%= game.players.count %></td>
      <td align="center"><%= 'a' %></td>
      <td><%= link_to 'Show', group_game_path(@group, game) %></td>
    </tr>
  <% end %>
</table>