<div id="<%= dom_id player %>">
  <p>
    <strong>Group:</strong>
    <%= player.group_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= player.notes %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= player.phone %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= player.level %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= player.skills %>
  </p>

</div>
