<% if @group.try(:id) %>
<div id="nav-menu-groups" style="border-bottom: 1px solid #e7ebf3;">
  <div class="container">
    <nav class="d-flex">
      <%= link_to "Geral", @group, class: "nav-group-item #{current_page?(group_path)? 'active':''}" %>
      <%= link_to "Jogadores", group_players_path, class: "nav-group-item #{current_page?(group_players_path)? 'active':''}" %>
      <%= link_to "Partidas", group_games_path, class: "nav-group-item #{current_page?(group_games_path)? 'active':''}" %>
      <%= link_to "Locais", '#', class: "nav-group-item #{current_page?(group_games_path)? 'active':''}" %>
      <%= link_to "Configurações", '#', class: "nav-group-item #{current_page?(group_games_path)? 'active':''}" %>
    </nav>
  </div>
</div>
<% end %>