<!DOCTYPE html>
<html>
  <head>
    <title>Esqueci minha senha | FutApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "auth", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
            <%= image_tag "logo.svg", class: "img-fluid", width:"250" %>
        </div>
      </div>

      <div class="row">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="col-md-12 d-flex align-items-center justify-content-center p-5">
          <div class="" style="width: 500px; max-width: 100%">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
