<div id="<%= dom_id place %>">
  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= place.uf %>
  </p>

  <p>
    <strong>City:</strong>
    <%= place.city %>
  </p>

  <p>
    <strong>District:</strong>
    <%= place.district %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= place.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= place.phone %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= place.website %>
  </p>

</div>
